.popular-communities {
  width: 250px;
  background-color: var(--background-color-darker);
  color: var(--color-white);
  padding: 20px;
  position: fixed;
  top: 60px;
  right: 0;
  height: calc(100% - 60px);
  overflow-y: scroll; /* Ensure content is scrollable */
  border-left: 1px solid #343536;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.popular-communities::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.popular-communities {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.popular-communities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.popular-communities-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.popular-communities h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.popular-communities ul {
  list-style-type: none;
  padding: 0;
}

.popular-communities li {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.popular-communities li:hover {
  background-color: var(--button-hover);
}

.popular-communities a {
color: var(--color-white);
text-decoration: none;
}

.popular-communities .community-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-communities .community-name {
  font-size: 16px;
  font-weight: bold;
}

.popular-communities .community-members {
  font-size: 14px;
  color: var(--color-text);
}

.popular-communities .see-more-container {
    border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 80px;
}

.see-more {
background-color: transparent;
  color: var(--color-white);
  border: none;
  line-height: 30px;
  border-radius: 15px;
  font-size: 12px;
  cursor: pointer;
}

.see-more:hover {
  background-color: var(--button-hover);
}


.community-icon-container {
  margin-right: 10px;
  font-size: 20px;
}

.community-info {
  display: flex;
  flex-direction: column;
}

