.app-container {
  display: flex;
  margin-top: 60px; /* Adjust this value based on the height of your header */
  overflow: hidden; /* Prevent overflow */
}

.main-content {
  margin-left: 250px; /* Adjust this value based on the width of your LNB */
  margin-right: 250px; /* Adjust this value based on the width of your RNB */
  padding: 20px;
  flex-grow: 1;
  overflow: hidden; /* Prevent overflow */
}
