@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --background-color-dark: #0F1113;
    --background-color-darker: #1a1a1a;
    --background-color-input: #272729;
    --border-color: #343536;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-orange: #ff4500;
    --color-orange-dark: #e03e00;
    --color-link: #0079d3;
    --color-text: #d7dadc;
    --button-hover: #333D41;
    --font-family: 'Roboto', sans-serif; 
  }

  body {
    overflow-x: hidden;
    font-family: var(--font-family);
    font-size: 0.6rem;
    box-sizing: border-box;
  }